pydantic<2.5
ray
pytest>=6.0
seaborn>=0.11
awscli>=1.22
typer>=0.4
litellm>=0.1.738
num2words
transformers
tqdm
boto3
ddsketch
google-cloud-aiplatform
wandb
kaleido
plotly-express
scikit-learn
pandas
jinja2
