python -m sarathi.entrypoints.openai.api_server \
--model_config_model {{ openai_server_model }} \
--model_config_dtype auto \
--api_key {{ openai_api_key }} \
--parallel_config_tensor_parallel_size {{ tp }} \
--parallel_config_pipeline_parallel_size {{ pp }} \
--port {{ port }}
