python -m vllm.entrypoints.openai.api_server \
--model {{ openai_server_model }} \
--dtype auto \
--api-key {{ openai_api_key }} \
-tp {{ tp }} \
-pp {{ pp }} \
--port {{ port }} \
--rope-scaling '{{ rope_scaling }}' \
--uvicorn-log-level error \
--disable-log-stats \
--disable-log-requests